@media (prefers-color-scheme: light) {
    div.container {
      height: 50em;
      position: relative;
    }

    div.container div.child {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    div.container p.home-text {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      color: black;
      font-family: "Cascadia Code", sans-serif;
    }

    p.book {
      text-align: center;
    }

    ul.nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #ddd;
    }

    li.nav-item {
      float: left;
      display: inline;
    }

    li a {
      display: block;
      padding: 8px;
      text-decoration: none;
      color: black;
    }

    li a:hover {
      background-color: #fff;
      color: black;
    }

    body {
      background-color: #ccc;
    }

    input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      background-color: #fff;
      border-color: #aaa;
      border-radius: 30px;
  }

    p.book {
      /*font-type: cascadia code*/
      font-family: "Cascadia Code", sans-serif;
      color: #222;
      text-align: center;
    }

    ul.result {
      list-style-type: none;
    }

    ul.book_list {
      list-style-type: none;
    }

    div p.message-s {
      color: green;
      font-family: "Cascadia Code", sans-serif;
    }

    div p.message-e {
      color: red;
      font-family: "Cascadia Code", sans-serif;
    }
}
